/* Write your CSS here */
.container {
  height: 100vh;
  background-color: white;
  padding: 100px;
  text-align: center;
}
.card {
  height: 300px;
  width: 400px;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}
.heading {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #0f172a;
  margin-top: 40px;
}
.paragraph {
  font-size: 18px;
  font-family: 'Roboto';
  color: #334155;
}
.button {
  height: 30px;
  width: 80px;
  background-color: white;
  border: 3px solid #0f172a;
  border-radius: 8px;
  color: #0f172a;
  padding: 5px;
}
.sub {
  font-size: 8px;
  color: #334155;
  font-family: 'Roboto';
  margin: 5px;
}
